.pai {
    background-color:#C8A2C8;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filho {
     background-color:#ffb6c1;
     height: 1000px;
     width: 50%;
     border: 20px black solid;
}

.filho2 {

    background-color:  #03bb85 ;
    height: 88%;
    width: 30%;
    
}